/**
 * Copyright (c) Contactlab UXD Team <https://ux.contactlab.com>.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600');

:root {
  --font-mc-sanserif: 'Open Sans', sans-serif;
  --font-mc-monospace: 'Inconsolata', Consolas, Monaco, 'Andale Mono',
    'Ubuntu Mono', monospace;
}
