/* Vendors */
@import 'https://unpkg.com/tailwindcss@latest/dist/tailwind.min.css';
@import './vendors/markdown.pcss';

/* Style tokens */
@import '../../lib/styles/bundle/index.pcss';
@import './global.pcss';

/* Design Tokens */
@import './design-tokens/colors.pcss';
@import './design-tokens/elevations.pcss';
@import './design-tokens/illustrations.pcss';
@import './design-tokens/typography.pcss';
