extends ../commons/layout.pug

block config
  - const PAGE_TITLE = "Branding";

block header
  +renderIntro({
    category: 'Design System',
    title: PAGE_TITLE,
    description: ''
  })

block content
