/**
 * Copyright (c) Contactlab UXD Team <https://ux.contactlab.com>.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

:root {
  --bp-extra-small: 320px;
  --bp-small: 576px;
  --bp-medium: 768px;
  --bp-large: 992px;
  --bp-extra-large: 1200px;
}
