/*!
 * Copyright (c) Contactlab UXD Team <https://ux.contactlab.com>.
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/* stylelint-disable declaration-no-important */

@import '../../elevations/index.pcss';

.elevation-transition {
  transition: var(--elevation-transition);
}

@each $type in 1dp, 2dp, 3dp, 4dp, 5dp {
  .elevation-$(type) {
    box-shadow: var(--elevation-$(type));
  }
}
